.container {
    display: flex;
    flex-direction: row;  
    border-radius: 5px;
    height: auto;
}

.container-body{
    display: flex;
    flex-direction: column;  
    background-color: #FFFAFA;  
    border-radius: 0 5px 5px 0;
    width: 200vh;
    height: auto;
    border: 1px solid ;  
}
 
.nav-bar{
    display: flex;
    flex-direction: column;
    align-content:  center; 
    background-color: #2e322f;
    border-radius: 5px 0 0 5px;
    padding: 10px;
    margin-right: auto;
    width: 10vh;
}

.nav-bar ul{
    list-style: none;
    margin: 5;
    padding: 0;
   
}

.nav-bar li{
    margin-bottom: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.nav-bar img{
    width: 4vh;
    height: 4vh;
    margin-bottom: 10px;
    color: #ccc;
    filter: invert(100%);
    cursor:pointer;
}

.nav-bar img:hover{
    display: block;
}

.header{
    display: flex;
    align-items: center;
    background-color: #4B3160;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 0 5px 5px 0;
    padding: 10px;
    width: auto;
    height: 10vh;
    box-sizing: border-box;
    box-shadow: 0  2px 4px rgba(0,0,0,.8);;
}

.element{
    display: flex;
    background-color: #D3D3D3;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    width: 100vh;
    height: auto;
    box-sizing: border-box;
}

form {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 20px;
    width: auto;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    border-radius: 4px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;

  }
  
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="date"],
  input[type="time"] {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    width: 95%;

  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  