.h2  {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #000000;
  margin: 0;
}

.main-container {
  display: flex;
  justify-content: space-between;
  height: 98vh;
}

.appointments-column {
  width : 20% ;
  border-radius: 3px;
  border: 1px black solid;
  padding: 10px;
  background-color: #FBFBFC;
}

.navbar {
  width : 15% ;
  border-radius: 3px;
  border: 1px black solid;
  padding: 10px;
  background-color: #FBFBFC;
}

.navbar img {
  width: 25px;
  height: 25px;
  margin: 0 15px;
}

.navbar h2, .appointments-column h2 {
  text-align: center;
}
.navbar ul{ 
  list-style: none;
  margin: 5px;
  padding: 0;
  margin: 5px;
}

.navbar li{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: black;
  font-weight: 100;
  margin-bottom: 10px;
  display: block;
  justify-content: start;
  pointer-events: visiblePainted green;
}

.navbar li a {
  color: inherit;
  text-decoration: none;
}

.navbar li:hover {
  background-color: orange;
}

.navbar li:active {
  border-left: 4px solid orange;
  padding-left: 10px;
}

.content {
  width: 60%;
  border-radius: 3px;
  margin: 0 5px 0 5px;
}
.content-header, .content-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.content-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 5px 5px 5px;
  margin: 0px;
}

.searchResponse {
  height: 647px;
}

.container-form {
  width: 25vh;
  border-radius: 3px;
  border: 1px black solid;
  padding: 10px 10px 20px 10px;
  background-color: #FBFBFC;
  height: 618px;
}
.searchResponse {
  display: inline-table;
  width: 73%;
  border-radius: 3px;
  border: 1px black solid;
  padding-left: 5px;
  background-color: #FBFBFC;
  flex-wrap: wrap;
}

.content-form{
  width: 20%;
  justify-content: start;
}


.container-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-header h2, .content-body h3 {
  text-align: center;
}

thead tr {
  background-color: #333;
  color: #fff;
}

/* Estilos para las celdas de encabezado */
thead th {
  padding: 10px;
}

/* Estilos para las filas impares */
tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

/* Estilos para las celdas de datos */
td {
  padding: 10px;
  border: 1px solid #ddd;
}

/* Estilos para la celda de datos de la primera columna */
td:first-child {
  font-weight: bold;
  
}

/* .card-matrix {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: scroll;;
} */

.card-matrix {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: none;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
}

.card-matrix-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 600px; /* altura máxima del contenedor */
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  border:#000000 1px solid;
  border-radius: 5px;
  flex-wrap: nowrap;
  margin: 5px;
  min-width: 250px;
}

.card-body {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 70%;
  flex-wrap: nowrap;
  padding-left: 1px;
}

.card-image {
  height: auto;
  width: 30%;
  border-radius: 5px 0 0 5px;
  padding: 1px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  padding: 10px;
}

.card-name {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
}

.card-appointment {
  font-size: 1rem;
  margin: 0;
}

.card-time {
  font-size: 1rem;
  margin: 0;
}

.findDate input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background-color: #fff;
  background-image: linear-gradient(to bottom, #ffffff 0%, #f0f0f0 100%);
  background-repeat: no-repeat;
  background-position: right center;
}

/* prueba */
